# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: b5362d873dda2902e5a143c37d67c5867b5cb3c84f6584e05f9084a851120a960472b778f6b9260aa352d39766f304855cb5c4f93756320f829fe056358c38c8

test:
  secret_key_base: a350513da2a3c98c95c4c5c99af5e078785546248d5cb9cacabffa40d13aebf3aac8cf38b8d0ab7f41bb89b42ed4c4a8f32de30d55df34096a11a815ac799aa9

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
