h1 = "Kinployment ##{@kinployment.id}"
bold Show a Kinployment's information.

hr
h3 Actions

p
  = link_to "View Kinployee Matches", kinployment_nominations_path( @kinployment )

hr
h3 Kinployment Properties

= render partial: 'kinployment', object: @kinployment

hr
h3 Kinployer Properties

= render partial: 'kinployers/kinployer', object: @kinployer

hr
h3 Kinployee Properties

- if @kinployee
  = render partial: 'kinployees/kinployee', object: @kinployee
- else
  p style = "color: red;"
    strong
      em This Kinployment has not yet been matched with a Kinployee.