= provide( :page_title, "#{@user.name}" )

h1 = @user.name
p
  strong Kinployee
hr

h3 Kinployee Properties

= render partial: 'kinployee', object: @kinployee

hr
h3 Kinployments

= render partial: 'kinployments/kinployment', collection: @kinployee.kinployments