h1 = "Kinployee ##{@kinployee.id}"
bold Show a Kinployee's information.

hr
h3 Kinployee Properties

= render partial: 'kinployee', object: @kinployee

hr
h3 Kinployments

= render partial: 'kinployments/kinployment', collection: @kinployee.kinployments