= provide( :page_title, "Recommendations" )

h1
  | Kinployee Recommendations for 
  em = @kinployment.name

= link_to "Back to Kinployment", @kinployment
hr

h3 Recommendations

= render partial: 'nomination', collection: @nominations