#homepage {
  position: relative;

  section {
    min-height: 100%;
    padding: 50px auto;
    position: relative;
    vertical-align: middle;
  }
  
  h1 {
    text-align: center;
  }

  section#welcome {
    background-color: lightblue;
  }

  section#employers-1 {
    background-color: indianred;
  }

  section#employers-2 {
    background-color: lightgreen;
  }

  section#helpers-1 {
    background-color: lightyellow;
  }

  .action-buttons {
    padding: 15px;
  }

  // Temporary placeholders.
  // Please remove this section once real skinning has been done.

  span.glyphicon-menu-down {
    font-size:        60px;
    line-height:      100px;
    height:           100px;
    text-align:       center;
    width:            100px;
  }

  .image-placeholder {
    background-color: lightgray;
    height:           300px;
    margin:           15px auto;
    width:            250px;
    padding:          15px;
  }

  .text-placeholder {
    margin:   15px auto;
    padding:  10px 10px 10px 0;
    width:    250px;
  }

  .testimonial-placeholder {
    padding: 15px;

    span.glyphicon {
      background-color: lightgray;
      font-size:        60px;
      line-height:      100px;
      height:           100px;
      text-align:       center;
      width:            100px;
    }

    p {
      font-size:    large;
      margin-left:  100px;
      padding-left: 20px;
    }
  }
}