html, body, div#main, div.page {
  height: 100%;
}

body {
  padding-top: 51px;
}

.btn {
  border: none;
  border-radius:          0px; /* future proofing */
  -moz-border-radius:     0px;
  -webkit-border-radius:  0px;
  margin: 10px;
}

.btn-primary {
  background-color: $call-to-action-color;
}