html, body, div#main, div.page {
  height: 100%;
}

body {
  padding-top: 51px;
}

.center-2d {
  // This requires the parent to have:
  // position: relative;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate( -50%, -50% );
  -ms-transform: translate( -50%, -50% );
}